.body__detail
    padding: 2rem
    max-width: 52rem
    width: 100%
    margin: 0 auto


.detail
    display: grid
    @media (min-width: 50rem)
        grid-template-columns: 1fr 12rem 
        grid-gap: 0 2rem

    &__film-title
        margin-top: 0

    &__title
        font-size: 1.5rem
        margin: 1.5em 0 0.5em

    &__list
        display: grid
        grid-template-columns: auto 1fr
        grid-gap: 0.4em 1.5em
        margin: 0 0 1.7em

        &--description
            font-weight: 700

        & dd
            margin: 0

    &__content--author
        font-style: italic

    &__content--author-link
        text-decoration: none
        color: $suplementary-color
        margin: 0
        padding: 0

    &__poster
        max-width: 100%
        width: 100%
        height: auto

    &__list-souvisejici
        list-style-type: none
        margin: 0
        padding: 0
        display: block

        &--item
            padding: 0 0.2em
            display: list-item

        &--link,
        &--link:visited,
        &--link:active
            text-decoration: none
            color: $suplementary-color

        &--link:hover
            text-decoration: underline

        &--link::before
            content: ""
            margin-bottom: 0.1em
            width: 0.5em
            height: 0.5em
            background-color: $suplementary-color
            display: inline-block
            margin-right: 0.5em

// .stars
//     @each hodnota in hodnoceni
//             --score: hodnoceni
//         &--score-{{hodnoceni}}::before
//             content: ""
//             background-image: url(images/hvezda-vyplnena.svg)
//             flex-grow: var(--score)
