<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			FILMY.cz
		</title>
		<link rel="stylesheet" href="/index.css">
		<link rel="shortcut icon" href="/obrazky/favicon.svg"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="layout">
			<div class="layout__hlavicka">
				{% include "hlavicka.njk" %}
			</div>
			<div class="layout__telo">
				{{ content | safe }}
			</div>
			<div class="layout__paticka">
				{% include "paticka.njk" %}
			</div>
		</div>
	</body>
</html>
