---
layout: elemental
pagination:
    data: podobneWeby
    size: 1
    alias: web
permalink: '{{ web.adresa }} '
---

<footer class="footer">
    <div class="footer__content">
        <div class="footer__parts">
            <section class="footer__section">
                <h2 class="footer__section--title">Podobné weby</h2>
                <ul class="footer__section--similar-webpages">
                    {% for web in podobneWeby %}
                        <li>
                            <a href="{{ web.adresa }}">{{ web.nazev }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section> 
            <section class="footer__section">
                <h2 class="footer__section--title">Obecné</h2>
            </section>   
        </div>
    </div>
</footer>