<footer class="footer">
    <div class="footer__content">
        <div class="footer__parts">
            <section class="footer__section">
                <h2 class="footer__section--title">Podobné weby</h2>
                <ul class="footer__list">
                    {% for web in podobneWeby %}
                        <li class="footer__list--item">
                            <a class="footer__list--link" href="{{ web.adresa }}">{{ web.nazev }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section> 
            <section class="footer__section">
                <h2 class="footer__section--title">Obecné</h2>
                <ul class="footer__list">
                    <li class="footer__list--item">
                        <a class="footer__list--link" href="puvod-dat.njk">Původ dat</a>
                    </li>
                    {% for link in general_link %}
                        <li class="footer__list--item">
                            <a class="footer__list--link" href="{{ link.adresa }}">{{ link.nazev }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>   
        </div>
    </div>
</footer>