<header class="header">
    <div class="header__content">
        <h1 class="header__logo">
            <a href="/">
                <img src="/images/logo.svg" width="214" height="32" alt="logo">
            </a>
        </h1>
    </div>
</header>