---
layout: elemental
---

<section>
    <h2>Původ dat</h2>
    <p>
        Data byla převzata z webu <a href="{{ data.podobneWeby["ČSFD"].adresa }}">{{ data.podobneWeby["ČSFD"].adresa }}</a> za účelem využití jako zkušební obsah pro výuku práce s nástrojem <a href="data.general_link["Eleventy"].adresa">Eleventy</a>. Smyslem fiktivního webu FILMY.cz není konkurovat podobným filmovým databázím včetně csfd.cz.
    </p>
</section>