---
layout: elemental
---

 <ul>
        {% for film in filmy %}
            <li>
                <a href="/film/{{ film.nazev | slug }}">{{ film.nazev }}</a>
            </li>
        {% endfor %}
    </ul>

