---
layout: zakladni
---

<main>
	<h2>Původ dat</h2>
	<p>Data byla převzata z webu <a href="https://www.csfd.cz/">www.csfd.cz</a> za účelem využití jako zkušební obsah pro výuku práce s nástrojem <a href="https://www.11ty.dev/">Eleventy</a>. Smyslem fiktivního webu FILMY.cz není konkurovat podobným filmovým databázím včetně csfd.cz.
</main>
